{% extends "base.html" %}

{% block title %}icos search{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <!-- Logo -->
        <div style="margin-bottom: 2px;">
            <h1 style="font-family: 'Dancing Script', cursive; font-size: 180px; margin: 0; line-height: 1; color: black; font-weight: 700;">icos</h1>
        </div>
        
        <!-- Form -->
        <form method="POST" action="{{ url_for('index') }}">
            {{ form.hidden_tag() }}
            
            <div class="mb-4">
                <div class="autocomplete">
                    <div class="search-container position-relative">
                        <i class="fa-solid fa-magnifying-glass search-icon position-absolute"></i>
                        {{ form.user_input(class="home-search", placeholder="", autocomplete="off", id="search-bar") }}
                        <i class="fa-solid fa-microphone mic-icon position-absolute"></i>
                    </div>
                    <!-- Autocomplete list will be dynamically inserted here -->
                </div>
                {% if form.user_input.errors %}
                    <div class="invalid-feedback d-block mt-2">
                        {% for error in form.user_input.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}
