{% extends "base.html" %}

{% block title %}Success - Data Collection App{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 text-center">
        <div class="text-success mb-4">
            <h2>Success!</h2>
            <p>Your data was submitted.</p>
        </div>

        {% if user_data %}
        <div class="mb-4 p-3 border rounded">
            {{ user_data }}
        </div>
        {% endif %}

        <a href="{{ url_for('index') }}" class="btn btn-primary">Submit Again</a>
    </div>
</div>
{% endblock %}
